{{#section "head"}}
<link rel="stylesheet" href="/css/footer.css" type="text/css" />
{{/section}}

<footer class="pie">
  <h2>Continuara en Star Wars series</h2>
  <h3>&copysr;Star Wars web</h3>
</footer>