{{#section "head"}}
  <link rel="stylesheet" href="/css/header.css" type="text/css" />
{{/section}}

<div class="page-conteiner">
  <header>
    <img
      class="logo"
      src="https://fontmeme.com/permalink/220717/1d25b924bb6afb8310eed3425cee8fe1.png"
      alt="fuente-de-star-wars"
    />
  </header>
</div>