{{#section "head"}}
  <link rel="stylesheet" href="/css/navbar.css" type="text/css" />
{{/section}}

<nav>
  <ul class="lista-nav">
    <li class="nav home"><a href="/" class="elemento">Inicio</a></li>
    <li class="nav contacto"><a href="/form" class="elemento">Contacto</a></li>
    {{#if user}}
      
      <li class="nav secret"><a href="/secret" class="elemento">Privado</a></li>
      <li class="nav config"><a href="#" class="elemento" role="button" data-bs-toggle="dropdown" aria-haspopup="true" 
          aria-expanded="false" >Configuración</a> 
        <ul class="elemento" aria-labelledby="navbarDropdown">
          <li class="nav"><a href="/users/settings" class="elemento">Información personal</a></li>
        </ul>
      </li>
    <li class="nav"><a href="/users/logout" class="elemento">Salir</a></li>
    {{else}}
      <li class="nav login"><a href="/users/login" class="elemento">Entrar</a></li>
      <li class="nav register"><a href="/users/register" class="elemento">Registrase</a></li>
    {{/if}}
  </ul>
</nav>