{{#section "head"}}
  <link rel="stylesheet" href="/css/secret.css" type="text/css" />
{{/section}}


<main>
<div class="conteiner">
<h1 class="h1">Seccion privada</h1>
<p class="p">Hola {{user}}</p>
</div>
</main>