* {
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../image/nave2.jpeg);
    color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*HEADER*/
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
}


/*NAVEGACION*/
.nav {
    display: inline-block;
    align-items: center;
    list-style-type: none;
    margin: 3px;
    padding: 5px;
    background-color: rgb(39, 38, 38);
    border-radius: 20px;
    border: none;
}

.nav:hover {
    background: yellow;

}

.elemento:hover {
    color: black;
}

.elemento {
    color: yellow;
    font-size: 20px;
    text-decoration: none;
}

li{
    list-style: none;
}
.lista-nav li ul {
    display: none;
    position: absolute;
}
.lista-nav li:hover > ul{
    display: block;
    margin: 5px;
}

.register {
    display: none;
}
 .secret{
    display: none;
 }
/*Main*/
.h1{
    font-size: 40px;
    background-color: rgb(39, 38, 38);
}
.p{
    font-size: 25px;
    background-color: rgb(39, 38, 38);
}
/*FOOTER*/
.pie {
    grid-area: footer;
    display: flex;
    margin: 60px;
    font-size: 20px;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width:1075px) {
    .conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "footer";
    }

    header {
        margin: 30px;
    }

    .logo {
        width: 500px;
        margin: 10px;
    }

}

@media screen and (max-width:200px) {
    .conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "footer";
    }

    header {
        padding-left: 180px;
    }

    .logo {
        justify-self: center;
        width: 400px;
        margin: 10px;
    }

}